In [1]:
#Importamos librerías 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import datetime

In [2]:
#Leemos el archivo de datos metorológicos de la estación de Nogal
df1 = pd.DataFrame( pd.read_csv("meteo-nogal-09.csv", engine="python" ) )
df1.head()

,DATE,TIME,Unnamed: 2,Unnamed: 3,u_Avg,v_Avg,w_Avg,t_Avg,kh20_Avg,net_rad_Avg,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,TS,NaN,NaN,NaN,m/s,m/s,m/s,degC,mV,w/m2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01-01-09,00:10,1.0,NaN,1.215,0.506,-0.044,10.95,1.159,-176.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01-01-09,00:20,1.0,NaN,0.892,0.588,-0.072,10.81,1.159,-176.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01-01-09,00:30,1.0,NaN,1.227,0.6850001,-0.06900001,10.34,1.224,-175.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01-01-09,00:40,1.0,NaN,1.135,0.7410001,-0.093,9.8,1.258,-182.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df1.dtypes

DATE            object
TIME            object
Unnamed: 2     float64
Unnamed: 3     float64
u_Avg           object
v_Avg           object
w_Avg           object
t_Avg           object
kh20_Avg        object
net_rad_Avg     object
shf1_Avg        object
shf2_Avg        object
vv_Avg          object
airT_Avg        object
rh_Avg         float64
e_sat_Avg       object
e_Avg           object
h2o_hmp_Avg     object
Unnamed: 18    float64
Unnamed: 19     object
Unnamed: 20     object
Unnamed: 21    float64
Unnamed: 22     object
Unnamed: 23     object
Unnamed: 24     object
Unnamed: 25     object
Unnamed: 26     object
Unnamed: 27     object
Unnamed: 28     object
Unnamed: 29     object
Unnamed: 30     object
Unnamed: 31     object
Unnamed: 32     object
Unnamed: 33     object
Unnamed: 34     object
Unnamed: 35     object
dtype: object

In [4]:
#Eliminamos las columnas nombradas 'unnamed'. Elimnamos el primer renglón.
df1=df1.drop(df1.columns[df1.columns.str.contains('unnamed:',case = False)],axis = 1)
df1 = df1.drop(df1.index[0]).reset_index(drop=True)
df1.head()

,DATE,TIME,u_Avg,v_Avg,w_Avg,t_Avg,kh20_Avg,net_rad_Avg,shf1_Avg,shf2_Avg,vv_Avg,airT_Avg,rh_Avg,e_sat_Avg,e_Avg,h2o_hmp_Avg
0,01-01-09,00:10,1.215,0.506,-0.044,10.95,1.159,-176.5,23.58,-26.72,1.327,9.4,0.899,1.178,1.059,8.12
1,01-01-09,00:20,0.892,0.588,-0.072,10.81,1.159,-176.6,23.73,-26.76,1.079,9.24,0.896,1.166,1.045,8.02
2,01-01-09,00:30,1.227,0.6850001,-0.06900001,10.34,1.224,-175.5,23.61,-26.46,1.421,9.059999,0.896,1.152,1.032,7.926001
3,01-01-09,00:40,1.135,0.7410001,-0.093,9.8,1.258,-182.7,23.41,-26.46,1.384,9.059999,0.874,1.152,1.008,7.737
4,01-01-09,00:50,0.7550001,1.064,-0.149,8.87,1.332,-184.8,23.22,-26.39,1.359,8.63,0.859,1.119,0.961,7.39

In [5]:
df1.dtypes

DATE            object
TIME            object
u_Avg           object
v_Avg           object
w_Avg           object
t_Avg           object
kh20_Avg        object
net_rad_Avg     object
shf1_Avg        object
shf2_Avg        object
vv_Avg          object
airT_Avg        object
rh_Avg         float64
e_sat_Avg       object
e_Avg           object
h2o_hmp_Avg     object
dtype: object

In [6]:
#Creamos la variable FECHAN a partir de DATE y TIME. Desechamos dichas columnas.
df1["FECHAN"] = df1["DATE"] +" "+ df1["TIME"]
df1.drop( ["DATE","TIME"], axis=1, inplace=True )

In [7]:
#Convertimos la variable FECHAN a la variable FECHA de tipo datetime
df1['FECHA'] = pd.to_datetime(df1.apply(lambda x: x['FECHAN'], 1), dayfirst=True)
df1 = df1.drop(['FECHAN'], 1)
df1.head()

,u_Avg,v_Avg,w_Avg,t_Avg,kh20_Avg,net_rad_Avg,shf1_Avg,shf2_Avg,vv_Avg,airT_Avg,rh_Avg,e_sat_Avg,e_Avg,h2o_hmp_Avg,FECHA
0,1.215,0.506,-0.044,10.95,1.159,-176.5,23.58,-26.72,1.327,9.4,0.899,1.178,1.059,8.12,2009-01-01 00:10:00
1,0.892,0.588,-0.072,10.81,1.159,-176.6,23.73,-26.76,1.079,9.24,0.896,1.166,1.045,8.02,2009-01-01 00:20:00
2,1.227,0.6850001,-0.06900001,10.34,1.224,-175.5,23.61,-26.46,1.421,9.059999,0.896,1.152,1.032,7.926001,2009-01-01 00:30:00
3,1.135,0.7410001,-0.093,9.8,1.258,-182.7,23.41,-26.46,1.384,9.059999,0.874,1.152,1.008,7.737,2009-01-01 00:40:00
4,0.7550001,1.064,-0.149,8.87,1.332,-184.8,23.22,-26.39,1.359,8.63,0.859,1.119,0.961,7.39,2009-01-01 00:50:00

In [8]:
df1.dtypes

u_Avg                  object
v_Avg                  object
w_Avg                  object
t_Avg                  object
kh20_Avg               object
net_rad_Avg            object
shf1_Avg               object
shf2_Avg               object
vv_Avg                 object
airT_Avg               object
rh_Avg                float64
e_sat_Avg              object
e_Avg                  object
h2o_hmp_Avg            object
FECHA          datetime64[ns]
dtype: object

In [9]:
#Extraemos una columna de minutos del data frame
df1['MES'] = df1['FECHA'].dt.month
df1['DIA'] = df1['FECHA'].dt.day
df1['HORA'] = df1['FECHA'].dt.hour
df1['MINUTO'] = df1['FECHA'].dt.minute
df1.head(50)

,u_Avg,v_Avg,w_Avg,t_Avg,kh20_Avg,net_rad_Avg,shf1_Avg,shf2_Avg,vv_Avg,airT_Avg,rh_Avg,e_sat_Avg,e_Avg,h2o_hmp_Avg,FECHA,MES,DIA,HORA,MINUTO
0,1.215,0.506,-0.044,10.95,1.159,-176.5,23.58,-26.72,1.327,9.4,0.899,1.178,1.059,8.12,2009-01-01 00:10:00,1.0,1.0,0.0,10.0
1,0.892,0.588,-0.072,10.81,1.159,-176.6,23.73,-26.76,1.079,9.24,0.896,1.166,1.045,8.02,2009-01-01 00:20:00,1.0,1.0,0.0,20.0
2,1.227,0.6850001,-0.06900001,10.34,1.224,-175.5,23.61,-26.46,1.421,9.059999,0.896,1.152,1.032,7.926001,2009-01-01 00:30:00,1.0,1.0,0.0,30.0
3,1.135,0.7410001,-0.093,9.8,1.258,-182.7,23.41,-26.46,1.384,9.059999,0.874,1.152,1.008,7.737,2009-01-01 00:40:00,1.0,1.0,0.0,40.0
4,0.7550001,1.064,-0.149,8.87,1.332,-184.8,23.22,-26.39,1.359,8.63,0.859,1.119,0.961,7.39,2009-01-01 00:50:00,1.0,1.0,0.0,50.0
5,0.8850001,0.992,-0.167,8.76,1.45,-183.4,23.33,-26.98,1.39,8.34,0.840,1.097,0.9210001,7.089,2009-01-01 01:00:00,1.0,1.0,1.0,0.0
6,0.611,0.7270001,-0.126,8.72,1.5,-180.6,23.71,-26.72,0.9820001,8.16,0.832,1.084,0.901,6.943,2009-01-01 01:10:00,1.0,1.0,1.0,10.0
7,0.33,0.886,-0.086,8.8,1.49,-185.3,23.63,-26.65,0.9960001,7.888,0.838,1.064,0.892,6.878,2009-01-01 01:20:00,1.0,1.0,1.0,20.0
8,0.118,1.321,-0.071,8.69,1.422,-187.8,24.04,-27.16,1.338,7.539001,0.846,1.039,0.8790001,6.787,2009-01-01 01:30:00,1.0,1.0,1.0,30.0
9,0.056,1.315,-0.081,7.892,1.324,-186.5,23.63,-25.91,1.331,7.163,0.876,1.012,0.886,6.852,2009-01-01 01:40:00,1.0,1.0,1.0,40.0
10,0.327,1.287,-0.115,8.02,1.328,-180.5,22.78,-24.45,1.355,6.914001,0.894,0.9950001,0.89,6.884,2009-01-01 01:50:00,1.0,1.0,1.0,50.0
11,0.7550001,1.193,-0.149,7.612,1.36,-174,20.87,-21.68,1.457,6.76,0.902,0.9850001,0.8880001,6.876,2009-01-01 02:00:00,1.0,1.0,2.0,0.0
12,0.973,1.325,-0.2,7.213,1.401,-168.4,18.23,-19.21,1.721,6.935,0.878,0.997,0.8750001,6.769001,2009-01-01 02:10:00,1.0,1.0,2.0,10.0
13,1.073,0.9440001,-0.171,7.316,1.421,-166.2,17.64,-20.13,1.485,6.982,0.854,1,0.854,6.607,2009-01-01 02:20:00,1.0,1.0,2.0,20.0
14,1.08,0.839,-0.149,7.761,1.404,-170.7,18.15,-21.55,1.422,7.288001,0.845,1.021,0.863,6.669,2009-01-01 02:30:00,1.0,1.0,2.0,30.0
15,1.323,0.776,-0.115,8.01,1.406,-174.2,19.68,-23.84,1.557,7.445,0.842,1.032,0.869,6.711,2009-01-01 02:40:00,1.0,1.0,2.0,40.0
16,1.113,0.613,-0.083,7.701,1.412,-177,20.64,-24.68,1.31,7.5,0.842,1.036,0.873,6.738,2009-01-01 02:50:00,1.0,1.0,2.0,50.0
17,0.827,0.789,-0.125,7.187,1.448,-177.7,21.13,-24.64,1.203,7.193,0.836,1.015,0.848,6.552001,2009-01-01 03:00:00,1.0,1.0,3.0,0.0
18,0.869,0.525,-0.07,7.317,1.412,-174.3,21.22,-24.06,1.038,6.892,0.843,0.994,0.8380001,6.486001,2009-01-01 03:10:00,1.0,1.0,3.0,10.0
19,-0.079,0.111,-0.036,7.177001,1.417,-175.5,20.08,-22.28,0.332,6.645,0.852,0.9770001,0.832,6.445,2009-01-01 03:20:00,1.0,1.0,3.0,20.0
20,-0.248,-0.106,-0.013,7.409,1.381,-176.9,19.67,-22.17,0.279,6.351,0.864,0.957,0.8280001,6.415,2009-01-01 03:30:00,1.0,1.0,3.0,30.0
21,0.344,0.35,-0.071,7.716001,1.379,-173.3,19.21,-20.7,0.525,6.089,0.873,0.9400001,0.821,6.368001,2009-01-01 03:40:00,1.0,1.0,3.0,40.0
22,0.496,0.868,-0.101,6.952,1.506,-166.5,18.02,-19.8,1.018,5.984,0.878,0.934,0.8200001,6.366,2009-01-01 03:50:00,1.0,1.0,3.0,50.0
23,0.561,0.837,-0.117,7.086,1.506,-162.3,17.35,-19.07,1.025,5.938,0.869,0.9310001,0.809,6.279,2009-01-01 04:00:00,1.0,1.0,4.0,0.0
24,-0.054,1.177,-0.07,7.150001,1.607,-167,17.13,-20.07,1.218,5.960001,0.864,0.932,0.8050001,6.252,2009-01-01 04:10:00,1.0,1.0,4.0,10.0
25,-0.675,1.169,-0.078,6.758,1.645,-168.8,17.53,-20.34,1.366,6.029,0.851,0.936,0.7970001,6.189,2009-01-01 04:20:00,1.0,1.0,4.0,20.0
26,0.216,1.568,-0.107,6.481,1.847,-166.5,17.03,-18.67,1.672,6.085001,0.830,0.9400001,0.78,6.056,2009-01-01 04:30:00,1.0,1.0,4.0,30.0
27,0.749,1.375,-0.165,6.301,2.137,-167.8,16.84,-19.46,1.631,6.2,0.786,0.9480001,0.7450001,5.78,2009-01-01 04:40:00,1.0,1.0,4.0,40.0
28,0.5840001,1.182,-0.14,6.342,2.283,-171.6,17.41,-19.9,1.388,6.213,0.766,0.9480001,0.7270001,5.636,2009-01-01 04:50:00,1.0,1.0,4.0,50.0
29,0.8240001,1.211,-0.172,6.488,2.333,-174.7,18.13,-21.06,1.533,6.282,0.760,0.9530001,0.724,5.613,2009-01-01 05:00:00,1.0,1.0,5.0,0.0
30,0.904,1.208,-0.175,6.554,2.325,-177.8,18.17,-20.44,1.589,6.433,0.754,0.9630001,0.726,5.629,2009-01-01 05:10:00,1.0,1.0,5.0,10.0
31,0.9680001,0.927,-0.085,6.719,2.253,-175.8,18.2,-21,1.432,6.572001,0.753,0.9720001,0.7320001,5.672,2009-01-01 05:20:00,1.0,1.0,5.0,20.0
32,0.7690001,0.785,-0.14,6.929,2.082,-183.1,20.17,-24.98,1.154,6.662,0.763,0.978,0.747,5.784,2009-01-01 05:30:00,1.0,1.0,5.0,30.0
33,0.647,0.7500001,-0.13,6.979001,2.04,-189.2,22.36,-26.88,1.041,6.66,0.771,0.978,0.754,5.837,2009-01-01 05:40:00,1.0,1.0,5.0,40.0
34,0.687,1.084,-0.151,6.764,2.043,-190,23.05,-26.57,1.361,6.553,0.773,0.9710001,0.7500001,5.812,2009-01-01 05:50:00,1.0,1.0,5.0,50.0
35,1.028,1.305,-0.161,6.695,2.063,-184.2,22.1,-23.74,1.751,6.496,0.768,0.9670001,0.743,5.757,2009-01-01 06:00:00,1.0,1.0,6.0,0.0
36,0.8470001,1.424,-0.151,6.513,2.304,-178.9,19.96,-20.38,1.745,6.554,0.753,0.9710001,0.731,5.662,2009-01-01 06:10:00,1.0,1.0,6.0,10.0
37,0.964,1.3,-0.166,6.353,2.479,-172.9,18.59,-19.43,1.701,6.397,0.740,0.961,0.711,5.512,2009-01-01 06:20:00,1.0,1.0,6.0,20.0
38,1.213,1.181,-0.167,6.527,2.567,-171.8,17.09,-17.52,1.782,6.485,0.735,0.966,0.71,5.5,2009-01-01 06:30:00,1.0,1.0,6.0,30.0
39,1.097,0.878,-0.127,6.612,2.541,-171.6,16.5,-18.06,1.469,6.605,0.733,0.974,0.714,5.532,2009-01-01 06:40:00,1.0,1.0,6.0,40.0
40,1.714,0.627,-0.06,7.237,2.413,-168.3,16.13,-17.58,1.87,6.771,0.741,0.9860001,0.73,5.654,2009-01-01 06:50:00,1.0,1.0,6.0,50.0
41,1.772,0.287,-0.027,7.814001,2.703,-169.8,16.59,-19.08,1.858,7.41,0.725,1.03,0.7460001,5.763,2009-01-01 07:00:00,1.0,1.0,7.0,0.0
42,1.398,0.706,-0.06500001,7.814001,2.894,-171.6,16.88,-19.67,1.636,7.715,0.709,1.051,0.7450001,5.747,2009-01-01 07:10:00,1.0,1.0,7.0,10.0
43,0.502,0.904,-0.109,7.068,2.984,-172,17.86,-20.58,1.085,7.394001,0.707,1.029,0.7270001,5.614,2009-01-01 07:20:00,1.0,1.0,7.0,20.0
44,0.526,0.896,-0.127,7.358,3.562,-167.4,17.29,-18.5,1.099,7.002,0.698,1.001,0.6990001,5.407,2009-01-01 07:30:00,1.0,1.0,7.0,30.0
45,0.627,0.7320001,-0.125,7.523,3.856,-154.7,15.19,-14.75,1.012,7.115,0.683,1.009,0.689,5.326,2009-01-01 07:40:00,1.0,1.0,7.0,40.0
46,0.9110001,0.831,-0.118,7.737,4.124,-144.6,12.77,-10.03,1.288,7.423,0.664,1.031,0.6850001,5.287,2009-01-01 07:50:00,1.0,1.0,7.0,50.0
47,0.6950001,0.585,-0.07600001,7.876,4.548,-127.9,8.61,-3.489,0.9490001,7.854001,0.649,1.061,0.689,5.31,2009-01-01 08:00:00,1.0,1.0,8.0,0.0
48,0.781,0.738,-0.116,8,4.726,-127.9,6.315001,-2.556,1.122,8.12,0.638,1.081,0.689,5.311,2009-01-01 08:10:00,1.0,1.0,8.0,10.0
49,1.098,0.91,-0.1,8.19,4.862,-124.8,4.427,-0.529,1.489,8.34,0.628,1.097,0.689,5.302,2009-01-01 08:20:00,1.0,1.0,8.0,20.0

In [10]:
#Quitamos los dos primeros renglones ya que a partir del tercero los dos data frames contienen los mismos datos
df1 = df1.drop(df1.index[0:2]).reset_index(drop=True)
df1.head(15)

,u_Avg,v_Avg,w_Avg,t_Avg,kh20_Avg,net_rad_Avg,shf1_Avg,shf2_Avg,vv_Avg,airT_Avg,rh_Avg,e_sat_Avg,e_Avg,h2o_hmp_Avg,FECHA,MES,DIA,HORA,MINUTO
0,1.227,0.6850001,-0.06900001,10.34,1.224,-175.5,23.61,-26.46,1.421,9.059999,0.896,1.152,1.032,7.926001,2009-01-01 00:30:00,1.0,1.0,0.0,30.0
1,1.135,0.7410001,-0.093,9.8,1.258,-182.7,23.41,-26.46,1.384,9.059999,0.874,1.152,1.008,7.737,2009-01-01 00:40:00,1.0,1.0,0.0,40.0
2,0.7550001,1.064,-0.149,8.87,1.332,-184.8,23.22,-26.39,1.359,8.63,0.859,1.119,0.961,7.39,2009-01-01 00:50:00,1.0,1.0,0.0,50.0
3,0.8850001,0.992,-0.167,8.76,1.45,-183.4,23.33,-26.98,1.39,8.34,0.840,1.097,0.9210001,7.089,2009-01-01 01:00:00,1.0,1.0,1.0,0.0
4,0.611,0.7270001,-0.126,8.72,1.5,-180.6,23.71,-26.72,0.9820001,8.16,0.832,1.084,0.901,6.943,2009-01-01 01:10:00,1.0,1.0,1.0,10.0
5,0.33,0.886,-0.086,8.8,1.49,-185.3,23.63,-26.65,0.9960001,7.888,0.838,1.064,0.892,6.878,2009-01-01 01:20:00,1.0,1.0,1.0,20.0
6,0.118,1.321,-0.071,8.69,1.422,-187.8,24.04,-27.16,1.338,7.539001,0.846,1.039,0.8790001,6.787,2009-01-01 01:30:00,1.0,1.0,1.0,30.0
7,0.056,1.315,-0.081,7.892,1.324,-186.5,23.63,-25.91,1.331,7.163,0.876,1.012,0.886,6.852,2009-01-01 01:40:00,1.0,1.0,1.0,40.0
8,0.327,1.287,-0.115,8.02,1.328,-180.5,22.78,-24.45,1.355,6.914001,0.894,0.9950001,0.89,6.884,2009-01-01 01:50:00,1.0,1.0,1.0,50.0
9,0.7550001,1.193,-0.149,7.612,1.36,-174,20.87,-21.68,1.457,6.76,0.902,0.9850001,0.8880001,6.876,2009-01-01 02:00:00,1.0,1.0,2.0,0.0
10,0.973,1.325,-0.2,7.213,1.401,-168.4,18.23,-19.21,1.721,6.935,0.878,0.997,0.8750001,6.769001,2009-01-01 02:10:00,1.0,1.0,2.0,10.0
11,1.073,0.9440001,-0.171,7.316,1.421,-166.2,17.64,-20.13,1.485,6.982,0.854,1,0.854,6.607,2009-01-01 02:20:00,1.0,1.0,2.0,20.0
12,1.08,0.839,-0.149,7.761,1.404,-170.7,18.15,-21.55,1.422,7.288001,0.845,1.021,0.863,6.669,2009-01-01 02:30:00,1.0,1.0,2.0,30.0
13,1.323,0.776,-0.115,8.01,1.406,-174.2,19.68,-23.84,1.557,7.445,0.842,1.032,0.869,6.711,2009-01-01 02:40:00,1.0,1.0,2.0,40.0
14,1.113,0.613,-0.083,7.701,1.412,-177,20.64,-24.68,1.31,7.5,0.842,1.036,0.873,6.738,2009-01-01 02:50:00,1.0,1.0,2.0,50.0

In [11]:
#Nos quedamos con los datos cada 30 minutos
df1 = df1[((df1['MINUTO'] == 30.0) | (df1['MINUTO'] == 0.0) ) & (df1['FECHA']<'2009-12-31 02:30:00')]
df1= df1.reset_index(drop=True)
df1.tail(7)

,u_Avg,v_Avg,w_Avg,t_Avg,kh20_Avg,net_rad_Avg,shf1_Avg,shf2_Avg,vv_Avg,airT_Avg,rh_Avg,e_sat_Avg,e_Avg,h2o_hmp_Avg,FECHA,MES,DIA,HORA,MINUTO
17395,0.643,-0.071,11.72,1228,-58.91,NAN,NAN,1.758,10.88,0.509,1.302,0.662,5.05,NaN,2009-12-30 23:00:00,12.0,30.0,23.0,0.0
17396,0.355,-0.014,11.59,1240,-59.41,NAN,NAN,1.709,11.15,0.504,1.325,0.668,5.089,NaN,2009-12-30 23:30:00,12.0,30.0,23.0,30.0
17397,0.503,-0.043,11.03,1289,-56.06,NAN,NAN,1.608,10.63,0.49,1.279,0.627,4.789,NaN,2009-12-31 00:00:00,12.0,31.0,0.0,0.0
17398,0.82,-0.095,11.38,1284,-54,NAN,NAN,1.739,10.64,0.49,1.281,0.628,4.792,NaN,2009-12-31 00:30:00,12.0,31.0,0.0,30.0
17399,0.844,-0.116,11.3,1271,-48.06,NAN,NAN,1.384,10.47,0.492,1.266,0.623,4.76,NaN,2009-12-31 01:00:00,12.0,31.0,1.0,0.0
17400,1.155,-0.132,10.01,1293,-55,NAN,NAN,1.323,9.47,0.522,1.185,0.618,4.739,NaN,2009-12-31 01:30:00,12.0,31.0,1.0,30.0
17401,1.261,-0.161,9.06,1292,-53.93,NAN,NAN,1.796,9.25,0.528,1.167,0.616,4.728,NaN,2009-12-31 02:00:00,12.0,31.0,2.0,0.0

In [14]:
#Leemos el segundo archivo sobre los datos del suelo
df2 = pd.DataFrame( pd.read_csv("soil-nogal-09.csv", engine="python" ) )
df2.head()

,id,2 Year_RTM L,3 Day_RTM L,4 Hour_Minute_RTM L,5 T108v_1_AVG L,6 T108v_2_AVG L,7 T108v_3_AVG L,8 T108v_4_AVG L,9 T108v_5_AVG L,10 T108v_6_AVG L,...,THETA_20cm.1,THETA_30cm.1,THETA_40cm.1,THETA_55cm.1,THETA_70cm.1,THETA_85cm.1,THETA_100cm.1,62 batt L.1,63 lluvia_TOT L,Rs (splite).1
0,147,2009,1,30,0.959,0.972,0.992,1.004,1.027,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,147,2009,1,100,0.958,0.972,0.993,1.004,1.027,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,147,2009,1,130,0.956,0.972,0.993,1.004,1.027,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,147,2009,1,200,0.955,0.972,0.993,1.005,1.027,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,147,2009,1,230,0.953,0.972,0.994,1.005,1.027,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#Revisamos el tipo de variables
df2.dtypes

id                        int64
2 Year_RTM  L             int64
3 Day_RTM  L              int64
4 Hour_Minute_RTM  L      int64
5 T108v_1_AVG  L        float64
6 T108v_2_AVG  L        float64
7 T108v_3_AVG  L        float64
8 T108v_4_AVG  L        float64
9 T108v_5_AVG  L        float64
10 T108v_6_AVG  L       float64
11 T108v_7_AVG  L       float64
12 T108v_8_AVG  L       float64
Tsuelo_10cm             float64
Tsuelo_20cm             float64
Tsuelo_30cm             float64
Tsuelo_40cm             float64
Tsuelo_55cm             float64
Tsuelo_70cm             float64
Tsuelo_85cm             float64
Tsuelo_100cm            float64
21 Tref_AVG  L          float64
22 period_1  L          float64
23 period_2  L          float64
24 period_3  L          float64
25 period_4  L          float64
26 period_5  L          float64
27 period_6  L          float64
28 period_7  L          float64
29 period_8  L          float64
30 TVWC_1  L            float64
                         ...
35 TVWC_6  L.1          float64
36 TVWC_7  L.1          float64
37 TVWC_8  L.1          float64
38 TVWCF_1  L.1         float64
39 TVWCF_2  L.1         float64
40 TVWCF_3  L.1         float64
41 TVWCF_4  L.1         float64
42 TVWCF_5  L.1         float64
43 TVWCF_6  L.1         float64
44 TVWCF_7  L.1         float64
45 TVWCF_8  L.1         float64
46 TVWCN_1  L.1         float64
47 TVWCN_2  L.1         float64
48 TVWCN_3  L.1         float64
49 TVWCN_4  L.1         float64
50 TVWCN_5  L.1         float64
51 TVWCN_6  L.1         float64
52 TVWCN_7  L.1         float64
53 TVWCN_8  L.1         float64
THETA_10cm.1            float64
THETA_20cm.1            float64
THETA_30cm.1            float64
THETA_40cm.1            float64
THETA_55cm.1            float64
THETA_70cm.1            float64
THETA_85cm.1            float64
THETA_100cm.1           float64
62 batt  L.1            float64
63 lluvia_TOT  L        float64
Rs (splite).1           float64
Length: 128, dtype: object

In [16]:
#Filtramos las columnas de interés
df2 = df2.filter(['2 Year_RTM  L','3 Day_RTM  L','4 Hour_Minute_RTM  L','Tsuelo_10cm','Tsuelo_20cm','Tsuelo_30cm','Tsuelo_40cm'
                  ,'Tsuelo_55cm','Tsuelo_70cm','Tsuelo_85cm','Tsuelo_100cm'],axis=1)
df2.head()

,2 Year_RTM L,3 Day_RTM L,4 Hour_Minute_RTM L,Tsuelo_10cm,Tsuelo_20cm,Tsuelo_30cm,Tsuelo_40cm,Tsuelo_55cm,Tsuelo_70cm,Tsuelo_85cm,Tsuelo_100cm
0,2009,1,30,14.36,14.70,15.22,15.52,16.11,17.02,17.75,18.62
1,2009,1,100,14.33,14.70,15.24,15.52,16.11,17.02,17.75,18.62
2,2009,1,130,14.28,14.69,15.24,15.54,16.11,17.02,17.74,18.62
3,2009,1,200,14.24,14.69,15.25,15.55,16.12,17.02,17.74,18.60
4,2009,1,230,14.19,14.69,15.27,15.55,16.12,17.02,17.73,18.60

In [17]:
#Para hacer una variable de fecha, tenemos que crear dos arreglos, uno  con horas y otro de minutos.
#Para esto converctimos la columna '4 Hour_Minute_RTM  L' a tipo string.
df2['4 Hour_Minute_RTM  L'] = df2['4 Hour_Minute_RTM  L'].astype(str)

In [18]:

#Ahora llenaremos el arreglo de horas y de minutos.

hora=[]
minuto=[]

for i in range (0, len(df2)):
    #Primero revisaremos si contiene 4 caracteres.
    if (len(str(df2['4 Hour_Minute_RTM  L'][i]))==4):
        #Si resulta ser de 4 caracteres, revisaremos el caso en que la hora sea 2400.
        if (str(df2['4 Hour_Minute_RTM  L'][i])[0:2]=='24'):
            hora.append('00')
            minuto.append('00')
        else:
            hora.append(str(df2['4 Hour_Minute_RTM  L'][i])[0:2])
            minuto.append(str(df2['4 Hour_Minute_RTM  L'][i])[2:4])
    #Ahora revisamos el caso de que contenga 3 caracteres.
    elif (len(str(df2['4 Hour_Minute_RTM  L'][i]))==3):
            hora.append(str(df2['4 Hour_Minute_RTM  L'][i])[0:1])
            minuto.append(str(df2['4 Hour_Minute_RTM  L'][i])[1:3])
    #Por último revisaremos el caso de 2 caracteres.
    elif (len(str(df2['4 Hour_Minute_RTM  L'][i]))==2):
            hora.append('00')
            minuto.append(str(df2['4 Hour_Minute_RTM  L'][i])[0:2])

#Arreglo para los días
dias =[df2['3 Day_RTM  L'][i] for i in range(0,len(df2))]

In [19]:
#Creamos un data frame con las horas, minutos y días del df2
d = {'dias': dias, 'hora': hora, 'minuto':minuto}
df_fechas = pd.DataFrame(data=d)
df_fechas.head()

   dias hora minuto
0     1   00     30
1     1    1     00
2     1    1     30
3     1    2     00
4     1    2     30

In [20]:
df_fechas.dtypes

dias       int64
hora      object
minuto    object
dtype: object

In [21]:
#En la nueva columna "dia", aumentamos un día a "dias" cuando marque la hora 00:00
dia=[]
for i in range(0,len(df_fechas)):
    if (df_fechas['hora'][i]=='00' and df_fechas['minuto'][i]=='00'):
        dia.append(df_fechas['dias'][i] +1)
    else:
        dia.append(df_fechas['dias'][i])
df_fechas['dia']=dia

In [22]:
df_fechas.head(50)

    dias hora minuto  dia
0      1   00     30    1
1      1    1     00    1
2      1    1     30    1
3      1    2     00    1
4      1    2     30    1
5      1    3     00    1
6      1    3     30    1
7      1    4     00    1
8      1    4     30    1
9      1    5     00    1
10     1    5     30    1
11     1    6     00    1
12     1    6     30    1
13     1    7     00    1
14     1    7     30    1
15     1    8     00    1
16     1    8     30    1
17     1    9     00    1
18     1    9     30    1
19     1   10     00    1
20     1   10     30    1
21     1   11     00    1
22     1   11     30    1
23     1   12     00    1
24     1   12     30    1
25     1   13     00    1
26     1   13     30    1
27     1   14     00    1
28     1   14     30    1
29     1   15     00    1
30     1   15     30    1
31     1   16     00    1
32     1   16     30    1
33     1   17     00    1
34     1   17     30    1
35     1   18     00    1
36     1   18     30    1
37     1   19     00    1
38     1   19     30    1
39     1   20     00    1
40     1   20     30    1
41     1   21     00    1
42     1   21     30    1
43     1   22     00    1
44     1   22     30    1
45     1   23     00    1
46     1   23     30    1
47     1   00     00    2
48     2   00     30    2
49     2    1     00    2

In [23]:
#Creamos una variable de tipo string con el año, el número de día, la hora y el minuto
fechas = []
for i in range (0,len(df2)):
    fechas.append('2009 '+str(df_fechas['dia'][i])+ ' ' + df_fechas['hora'][i]+' '+df_fechas['minuto'][i])

In [24]:
#Convertimos los elementos del arreglo fechas a variables tipo datetime
FECHA = []
for i in range(0,len(df2)):
    d=datetime.datetime.strptime(fechas[i],'%Y %j %H %M')
    F = d.isoformat(' ')
    FECHA.append(F)

In [25]:
#Agregamos la columna FECHA al dataframe
df2['FECHAN']=FECHA
df2.tail(50)

,2 Year_RTM L,3 Day_RTM L,4 Hour_Minute_RTM L,Tsuelo_10cm,Tsuelo_20cm,Tsuelo_30cm,Tsuelo_40cm,Tsuelo_55cm,Tsuelo_70cm,Tsuelo_85cm,Tsuelo_100cm,FECHAN
17432,2009,364,2330,13.75,14.06,14.80,15.24,15.76,16.62,17.35,18.22,2009-12-30 23:30:00
17433,2009,364,2400,13.73,14.06,14.81,15.25,15.76,16.62,17.35,18.21,2009-12-31 00:00:00
17434,2009,365,30,13.71,14.06,14.83,15.24,15.75,16.62,17.35,18.21,2009-12-31 00:30:00
17435,2009,365,100,13.69,14.06,14.83,15.24,15.76,16.62,17.35,18.21,2009-12-31 01:00:00
17436,2009,365,130,13.66,14.06,14.83,15.24,15.76,16.62,17.35,18.21,2009-12-31 01:30:00
17437,2009,365,200,13.64,14.06,14.83,15.24,15.75,16.62,17.34,18.21,2009-12-31 02:00:00
17438,2009,365,230,13.61,14.06,14.83,15.25,15.76,16.62,17.34,18.21,2009-12-31 02:30:00
17439,2009,365,300,13.58,14.06,14.84,15.26,15.76,16.62,17.34,18.21,2009-12-31 03:00:00
17440,2009,365,330,13.55,14.03,14.85,15.26,15.76,16.61,17.33,18.21,2009-12-31 03:30:00
17441,2009,365,400,13.52,14.03,14.86,15.27,15.76,16.60,17.33,18.21,2009-12-31 04:00:00
17442,2009,365,430,13.49,14.03,14.86,15.28,15.76,16.60,17.32,18.21,2009-12-31 04:30:00
17443,2009,365,500,13.46,14.01,14.86,15.28,15.76,16.59,17.31,18.21,2009-12-31 05:00:00
17444,2009,365,530,13.43,13.99,14.86,15.28,15.76,16.59,17.31,18.20,2009-12-31 05:30:00
17445,2009,365,600,13.40,13.99,14.86,15.28,15.76,16.59,17.31,18.20,2009-12-31 06:00:00
17446,2009,365,630,13.37,13.97,14.86,15.28,15.76,16.59,17.31,18.19,2009-12-31 06:30:00
17447,2009,365,700,13.33,13.95,14.86,15.28,15.76,16.59,17.31,18.19,2009-12-31 07:00:00
17448,2009,365,730,13.30,13.94,14.85,15.28,15.76,16.59,17.31,18.18,2009-12-31 07:30:00
17449,2009,365,800,13.27,13.92,14.84,15.28,15.76,16.59,17.31,18.18,2009-12-31 08:00:00
17450,2009,365,830,13.24,13.92,14.84,15.28,15.76,16.59,17.31,18.18,2009-12-31 08:30:00
17451,2009,365,900,13.21,13.89,14.83,15.28,15.76,16.59,17.31,18.18,2009-12-31 09:00:00
17452,2009,365,930,13.18,13.88,14.83,15.28,15.76,16.59,17.31,18.18,2009-12-31 09:30:00
17453,2009,365,1000,13.15,13.86,14.83,15.27,15.76,16.59,17.31,18.18,2009-12-31 10:00:00
17454,2009,365,1030,13.13,13.84,14.82,15.27,15.75,16.59,17.30,18.18,2009-12-31 10:30:00
17455,2009,365,1100,13.12,13.83,14.82,15.27,15.75,16.59,17.30,18.18,2009-12-31 11:00:00
17456,2009,365,1130,13.11,13.81,14.81,15.26,15.75,16.59,17.29,18.17,2009-12-31 11:30:00
17457,2009,365,1200,13.12,13.79,14.81,15.26,15.74,16.59,17.29,18.17,2009-12-31 12:00:00
17458,2009,365,1230,13.14,13.79,14.80,15.25,15.74,16.59,17.29,18.16,2009-12-31 12:30:00
17459,2009,365,1300,13.17,13.78,14.80,15.25,15.74,16.58,17.29,18.16,2009-12-31 13:00:00
17460,2009,365,1330,13.22,13.78,14.79,15.25,15.75,16.59,17.29,18.16,2009-12-31 13:30:00
17461,2009,365,1400,13.26,13.78,14.78,15.24,15.74,16.58,17.29,18.16,2009-12-31 14:00:00
17462,2009,365,1430,13.32,13.79,14.77,15.23,15.74,16.58,17.29,18.16,2009-12-31 14:30:00
17463,2009,365,1500,13.37,13.79,14.77,15.23,15.74,16.58,17.29,18.15,2009-12-31 15:00:00
17464,2009,365,1530,13.43,13.81,14.77,15.22,15.73,16.58,17.29,18.15,2009-12-31 15:30:00
17465,2009,365,1600,13.50,13.82,14.76,15.22,15.74,16.58,17.29,18.15,2009-12-31 16:00:00
17466,2009,365,1630,13.56,13.84,14.77,15.22,15.73,16.57,17.29,18.15,2009-12-31 16:30:00
17467,2009,365,1700,13.62,13.86,14.76,15.22,15.73,16.57,17.28,18.15,2009-12-31 17:00:00
17468,2009,365,1730,13.69,13.90,14.76,15.22,15.73,16.57,17.28,18.16,2009-12-31 17:30:00
17469,2009,365,1800,13.74,13.92,14.77,15.22,15.72,16.57,17.27,18.16,2009-12-31 18:00:00
17470,2009,365,1830,13.79,13.95,14.77,15.21,15.72,16.57,17.27,18.14,2009-12-31 18:30:00
17471,2009,365,1900,13.84,13.98,14.78,15.20,15.72,16.58,17.27,18.14,2009-12-31 19:00:00
17472,2009,365,1930,13.88,14.01,14.78,15.21,15.72,16.58,17.27,18.14,2009-12-31 19:30:00
17473,2009,365,2000,13.90,14.04,14.78,15.20,15.72,16.58,17.27,18.14,2009-12-31 20:00:00
17474,2009,365,2030,13.93,14.06,14.79,15.21,15.72,16.58,17.27,18.14,2009-12-31 20:30:00
17475,2009,365,2100,13.95,14.09,14.79,15.21,15.72,16.58,17.27,18.14,2009-12-31 21:00:00
17476,2009,365,2130,13.96,14.11,14.81,15.22,15.72,16.57,17.27,18.14,2009-12-31 21:30:00
17477,2009,365,2200,13.96,14.13,14.82,15.23,15.72,16.56,17.27,18.14,2009-12-31 22:00:00
17478,2009,365,2230,13.96,14.15,14.83,15.23,15.72,16.56,17.27,18.14,2009-12-31 22:30:00
17479,2009,365,2300,13.96,14.16,14.83,15.24,15.72,16.55,17.27,18.14,2009-12-31 23:00:00
17480,2009,365,2330,13.95,14.16,14.85,15.24,15.72,16.55,17.26,18.14,2009-12-31 23:30:00
17481,2009,365,2400,13.94,14.19,14.85,15.24,15.72,16.55,17.26,18.13,2010-01-01 00:00:00

In [26]:
#Convertimos la columna FECHAN a tipo datetime
df2['FECHA'] = pd.to_datetime(df2.apply(lambda x: x['FECHAN'], 1), dayfirst=True)
df2 = df2.drop(['FECHAN'], 1)
df2.dtypes

2 Year_RTM  L                    int64
3 Day_RTM  L                     int64
4 Hour_Minute_RTM  L            object
Tsuelo_10cm                    float64
Tsuelo_20cm                    float64
Tsuelo_30cm                    float64
Tsuelo_40cm                    float64
Tsuelo_55cm                    float64
Tsuelo_70cm                    float64
Tsuelo_85cm                    float64
Tsuelo_100cm                   float64
FECHA                   datetime64[ns]
dtype: object

In [27]:
len(df2)

17482

In [28]:
#Quitamos los duplicados del df2
df2 = df2.drop_duplicates(subset=['FECHA'])

In [29]:
len(df2)

17426

In [30]:
df1.dtypes

u_Avg                  object
v_Avg                  object
w_Avg                  object
t_Avg                  object
kh20_Avg               object
net_rad_Avg            object
shf1_Avg               object
shf2_Avg               object
vv_Avg                 object
airT_Avg               object
rh_Avg                float64
e_sat_Avg              object
e_Avg                  object
h2o_hmp_Avg            object
FECHA          datetime64[ns]
MES                   float64
DIA                   float64
HORA                  float64
MINUTO                float64
dtype: object

In [31]:

len(df1)

17402

In [32]:
#Ahora uniremos los dos data frames, relacionados con la variable FECHA
df3 = pd.merge(df1, df2, on=['FECHA'])

In [33]:
df3.tail(10)

,u_Avg,v_Avg,w_Avg,t_Avg,kh20_Avg,net_rad_Avg,shf1_Avg,shf2_Avg,vv_Avg,airT_Avg,...,3 Day_RTM L,4 Hour_Minute_RTM L,Tsuelo_10cm,Tsuelo_20cm,Tsuelo_30cm,Tsuelo_40cm,Tsuelo_55cm,Tsuelo_70cm,Tsuelo_85cm,Tsuelo_100cm
17370,-0.988,0.007,14.54,1229,-65.02,NAN,NAN,1.457,12.22,0.468,...,364,2130,13.78,14.01,14.77,15.23,15.76,16.62,17.34,18.24
17371,-1.131,0.035,12.59,1239,-64.02,NAN,NAN,1.957,11.96,0.471,...,364,2200,13.78,14.02,14.79,15.23,15.76,16.62,17.34,18.24
17372,-0.319,-0.008,12.86,1222,-62.68,NAN,NAN,1.3,11.74,0.491,...,364,2230,13.78,14.03,14.80,15.24,15.76,16.62,17.35,18.23
17373,0.643,-0.071,11.72,1228,-58.91,NAN,NAN,1.758,10.88,0.509,...,364,2300,13.76,14.06,14.80,15.24,15.76,16.63,17.35,18.22
17374,0.355,-0.014,11.59,1240,-59.41,NAN,NAN,1.709,11.15,0.504,...,364,2330,13.75,14.06,14.80,15.24,15.76,16.62,17.35,18.22
17375,0.503,-0.043,11.03,1289,-56.06,NAN,NAN,1.608,10.63,0.49,...,364,2400,13.73,14.06,14.81,15.25,15.76,16.62,17.35,18.21
17376,0.82,-0.095,11.38,1284,-54,NAN,NAN,1.739,10.64,0.49,...,365,30,13.71,14.06,14.83,15.24,15.75,16.62,17.35,18.21
17377,0.844,-0.116,11.3,1271,-48.06,NAN,NAN,1.384,10.47,0.492,...,365,100,13.69,14.06,14.83,15.24,15.76,16.62,17.35,18.21
17378,1.155,-0.132,10.01,1293,-55,NAN,NAN,1.323,9.47,0.522,...,365,130,13.66,14.06,14.83,15.24,15.76,16.62,17.35,18.21
17379,1.261,-0.161,9.06,1292,-53.93,NAN,NAN,1.796,9.25,0.528,...,365,200,13.64,14.06,14.83,15.24,15.75,16.62,17.34,18.21